.front {
  z-index: 3;
  width: 50%;
  max-width: 700px;
  min-width: 300px;
}

.logo {
  display: block;
  width: 80%;
  margin: auto auto;
  margin-bottom: 20px;
}

.wrapper {
  top: var(--navbar-height);
  position: relative;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

.content {
  background-color: white;
  height: calc(100vh - var(--navbar-height));
  position: absolute;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  overflow: auto;
}

.content-with-margin {
  width: 100%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  padding: 10px;
}

@media only screen and (min-width: 961px) {
  .logo {
    width: 70%;
    margin-bottom: 32px;
  }

  .content-with-margin {
    padding: 20px;
  }
}
