@import url('./assets/styles/variables.css');

.app-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.app-clickable {
  transition: 100ms filter linear;
  cursor: pointer;
}

.app-clickable:hover {
  filter: brightness(0.93);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}