<nav>
  <div class="desktop po-visible-lg po-visible-xl">
    <div>
      <img class="app-clickable" src="../../../assets/img/logo-white.svg" [routerLink]="'/'"/>
      <div class="menu">
        <a class="app-clickable" [routerLink]="''">{{'l-home' | translate}}</a>
        <a class="app-clickable" [routerLink]="['courses']">{{'l-courses' | translate}}</a>
        <a class="app-clickable" [routerLink]="['learning-paths']">{{'l-learning-paths' | translate}}</a>
      </div>
      <div class="right-desktop-content">
        <span *ngIf="showSearch$ | async" class="po-icon po-icon-search app-clickable" (click)="toggleSearch()"></span>
      </div>
    </div>
  </div>
  <div class="mobile po-hidden-lg po-hidden-xl">
    <div>
      <div>
        <span class="po-icon po-icon-menu app-clickable" (click)="toggleSideBar()"></span>
      </div>
      <div>
        <img src="../../../assets/img/logo-white.svg" />
      </div>
      <div style="width: 30px;">
        <span *ngIf="showSearch$ | async" class="po-icon po-icon-search app-clickable" (click)="toggleSearch()"></span>
      </div>
    </div>
  </div>
</nav>
