nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 4;
  padding: 10px 20px;
  height: var(--navbar-height);
}

nav > div {
  width: 100%;
  height: 100%;
}

nav > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

img {
  width: 142px;
}

.po-icon {
  font-size: 30px;
  color: white;
}

.menu {
  color: var(--menu-font-color);
  display: flex;
  justify-content: space-between;
}

.menu > a {
  display: block;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.menu > a:not(:last-child) {
  margin-right: 32px;
}

.right-desktop-content {
  width: 142px;
  display: flex;
  flex-direction: row-reverse;
}
