<po-modal
  [p-title]="'l-input-learning-path' | translate"
  [p-size]="'lg'"
  [p-primary-action]="primaryAction$ | async"
  [p-secondary-action]="secondaryAction$ | async"
>

<form>
  <po-input
    name="name"
    [(ngModel)]="model.name"
    [p-label]="'l-name' | translate"
  ></po-input>
  
  <po-textarea
    name="description"
    [(ngModel)]="model.description"
    [p-label]="'l-description' | translate"
  >
  </po-textarea>

  <po-multiselect
    name="roles"
    [p-filter-mode]="filterMode"
    [(ngModel)]="model.employeeRoles"
    [p-label]="'l-employee-roles' | translate"
    [p-options]="rolesOptions"
  ></po-multiselect>

<po-multiselect
  name="courses"
  [p-filter-mode]="filterMode"
  [(ngModel)]="model.courses"
  [p-label]="'l-courses-in-learning-path' | translate"
  [p-options]="courses$ | async"
></po-multiselect>

</form>

</po-modal>
